

<ion-content [fullscreen]="true">
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/home" class="back-btn">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="medium">Registre un alimento</ion-title>

  </ion-toolbar>
</ion-header>
  <div class="container">
    <ion-item>
      <ion-label position="floating">Nombre del alimento <span color="warning"> *</span></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoría<span color="warning"> *</span></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calorias (30.2)<span color="warning"> *</span></ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Proteínas (g)<span color="warning"> *</span></ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Carbohidratos (g)<span color="warning"> *</span></ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Grasas (g)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">De las cuales saturadas (g)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Azúcares (g)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fibra (g)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sal (g)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Colesterol (mg)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </div>
</ion-content>

